
.color {
  background-color: rgb(242,241,246)
}

.f {
  font-family: 'Open Sans', sans-serif;
}

.text {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.moment {
  font-size: 12px;
  padding: 0;
}
